.btns-bns {
  background: transparent;
  background: linear-gradient(90deg, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  border: none !important;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 0.7rem 1rem !important;
}
