.careers {
  .elevate-careers {
    margin-top: 7rem;
    .career-side-image {
      img {
        width: 100%;
      }
    }
    .right-test-admin-career {
      .elevate-text {
        p {
          font-size: 55px;
          font-weight: 300;
          line-height: 66px;
          text-align: left;
          span {
            font-weight: 700;
          }
        }
      }
      .some-text {
        margin-top: 3rem;
        p {
          font-size: 20px;
          font-weight: 300;
          line-height: 28px;
          text-align: left;
          color: #333333;
        }
      }
      @media (max-width: 768px) {
        margin-top: 2rem;
        .elevate-text {
          p {
            font-size: 30px;
            line-height: 30px;
            margin-top: 2rem;
          }
        }
      }
    }
  }
  .join-crew-bg {
    margin-top: 5rem;
    background-image: url("../../assets/a0fecfd5c9870e3f7b129d2409b944b2.jpg");
    padding: 5rem 0;
    background-repeat: no-repeat;
    background-size: 100%;
    .text-join-crew {
      font-size: 55px;
      font-weight: 300;
      line-height: 66px;
      text-align: center;
      color: #ffffff;
      span {
        font-weight: 700;
      }
      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
    .some-text-crew {
      margin-top: 3rem;

      p {
        font-size: 24px;
        font-weight: 400;
        line-height: 26.4px;
        text-align: center;
        color: #ffffff;
      }
      @media (max-width: 768px) {
        margin-top: 1rem;
        p {
          font-size: 16px;
        }
      }
    }
    .button-oping-see {
      justify-content: center;
      display: flex;
      margin-top: 3rem;
    }
  }
  .drop-your-cv {
    padding: 5rem 0;
    background: #f7f7f7;

    .text-join-crew {
      p {
        font-size: 48px;
        font-weight: 300;
        line-height: 66px;
        text-align: center;
        color: #333333;
        margin-bottom: 0%;
        span {
          font-weight: 700;
        }
        @media (max-width: 768px) {
          font-size: 30px;
        }
      }
    }
    .some-text-crew {
      margin-top: 3rem;

      p {
        font-size: 24px;
        font-weight: 300;
        line-height: 26.4px;
        text-align: center;
        margin: 0;
        color: #333333;
      }
      @media (max-width: 768px) {
        margin-top: 1rem;
        p {
          font-size: 16px;
        }
      }
    }
    .button-oping-see {
      justify-content: center;
      display: flex;
      margin-top: 3rem;
      a {
        background: linear-gradient(
          90deg,
          #01a6fd 0%,
          #17d0cf 51%,
          #01a6fd 100%
        );
        border: none;
        padding: 0.7rem 1rem;
        border-radius: 4px;
      }
    }
  }
}
