.submit-btn {
  background: transparent;
  background: linear-gradient(90deg, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
  border: none !important;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 0.4rem 1rem !important;
}

/* Styling for the form container */
.cv-form-container {
  background-color: #ffffff;


//   padding: 30px 40px;
//   margin: 20px 0;
//   max-width: 600px;
//   margin-left: auto;
//   margin-right: auto;
}

.cv-form-container .form-label {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.cv-form-container .form-control {
  border-radius: 5px;

  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
}

.cv-form-container .form-control:focus {
  border-color: #01a6fd;
  box-shadow: 0 0 5px rgba(1, 166, 253, 0.6);
}

.text-center {
  margin:0.5rem 1.4rem ;
}

/* Modal Styling */
.modal-header {
  background: #1eacf8;
  color: white;
  border: none;
  padding: 8px 40px;
  text-align: center;
}

.modal-header .btn-close {
  color: white;
  font-size: 1.2rem;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
